* text=auto

*.blade.php diff=html
*.css diff=css
*.scss diff=css
*.html diff=html
*.md diff=markdown
*.mdx diff=markdown
*.php diff=php
*.ts diff=typescript
*.tsx diff=typescript

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
